<?xml version='1.0' encoding='utf-8'?>
<widget id="socrates3142.webchat" version="0.1.0">
  <name>Webchat</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="kevinlew27@gmail.com">
    socrates3142
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
